attr==0.3.2
ConfigParser==7.2.0
cryptography==46.0.1
Cython==3.1.4
dl==0.1.0
docutils==0.22.2
filelock==3.19.1
HTMLParser==0.0.2
hypothesis==6.140.2
importlib_resources==6.5.2
ini2toml==0.15
ipython==8.12.3
ipywidgets==8.1.7
jnius==1.1.0
keyring==25.6.0
mod==0.3.0
nltk==3.9.1
pandas==2.3.2
path.py==12.5.0
pkg1==0.0.3
protobuf==6.32.1
pyOpenSSL==25.3.0
pytest==8.4.2
redis==6.4.0
Sphinx==8.2.3
streamlit==1.49.1
trove_classifiers==2025.9.11.17
urllib3_secure_extra==0.1.0
usercustomize==1.0.0
xmlrpclib==1.0.1
xx==3.3.2
